<form class="search-form" [formGroup]="formModel"
      (ngSubmit)="onSearch()"
      novalidate
>
    <div class="form-group">
        <label for="car-brand">Производитель:</label>
        <select id="car-brand"
                class="form-control"
                (change)="onBrandChange($event.target.value)"
                formControlName="brandId">
            <option [value]="null">All</option>
            <option *ngFor="let b of brands | async" [value]="b.id">{{b.name}}
            </option>
        </select>
    </div>
    <div class="form-group" *ngIf="formModel.controls['brandId'].value != null && formModel.controls['brandId'].value != 'null'">
        <label for="car-model">Модель:</label>
        <select id="car-model" class="form-control"
                formControlName="modelId"
        >
            <option [value]=null selected>All</option>
            <option *ngFor="let model of models | async" [value]="model.id">{{model.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="body-type" class="control-label">Тип кузова:</label>
        <select id="body-type" class="form-control input-sm"
                formControlName="bodyTypeId">
            <option [value]="null">Любой</option>
            <option *ngFor="let bt of bodyTypes | async" [value]="bt.id">{{bt.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="model-year">Год выпуска:</label>
        <div class="form-inline" id="model-year">
            <select id="model-year-min" class="form-control input-sm"
                    formControlName="modelYearMin">
                <option *ngFor="let y of getArrayOfYears(MODEL_YEAR_MIN, currentDate.getFullYear())" [ngValue]="y">
                    {{y}}
                </option>
            </select>
            -
            <select id="model-year-max" class="form-control input-sm"
                    formControlName="modelYearMax">
                <option *ngFor="let y of getArrayOfYears(formModel.controls.modelYearMin.value, currentDate.getFullYear());
                                let i = index;" [ngValue]="y">{{y}}
                </option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="mileage-max">Пробег до:</label>
        <select id="mileage-max" class="form-control input-sm"
                formControlName="mileageMax">
            <option [value]="null">Любой</option>
            <option *ngFor="let m of MILEAGE_ARRAY" [value]="m">
                До {{m}}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="engine-capacity">Объем двигателя:</label>
        <div id="engine-capacity" class="form-inline">
            <select id="engine-cap-min" class="form-control input-sm"
                    formControlName="engineMin">
                <option [value]="null">Любой</option>
                <option *ngFor="let e of getEnginesCapacity()" [value]='e'>{{e}} л</option>
            </select>
            -
            <select id="engine-cap-max" class="form-control input-sm"
                    formControlName="engineMax">
                <option [value]="null">Любой</option>
                <option *ngFor="let e of getEnginesCapacity()" [value]='e'>{{e}} л</option>
            </select>

        </div>
    </div>
    <div class="form-group">
        <label for="fuel-type" class="control-label">Тип двигателя:</label>
        <select id="fuel-type" class="form-control input-sm"
                formControlName="fuelTypeId">
            <option [value]="null">Любой</option>
            <option *ngFor="let ft of fuelTypes | async" [value]="ft.id">{{ft.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="transmission-type" class="control-label">Трансмиссия:</label>
        <select id="transmission-type" class="form-control input-sm"
                formControlName="transmissionTypeId">
            <option [value]="null">Любая</option>
            <option *ngFor="let tr of transmissions | async" [value]="tr.id">{{tr.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="wheel-drive" class="control-label">Привод:</label>
        <select id="wheel-drive" class="form-control input-sm"
                formControlName="wheelDriveId">
            <option [value]="null">Любой</option>
            <option *ngFor="let wd of wheelDrives | async" [value]="wd.id">{{wd.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" >
                <button type="submit" class="btn btn-lg btn-primary">Поиск</button>
            </div>
            <div class="btn-group ">
                <button type="button" class="btn btn-lg btn-danger" (click)="resetForm()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</form>