<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['']">CarsApp</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a [routerLink]="['']">Home</a></li>
        </ul>
        <button class="btn btn-lg btn-primary" [routerLink]="['/add']">Добавить</button>
    </div>
</nav>