.carousel-inner > .item {
    height: 435px;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 435px;
    width: auto;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}
.carousel-inner{
    background-color: #373737;
}


