<div id="car-carousel" class="carousel slider" data-ride="carousel">
    <ol class="carousel-indicators">
        <li *ngFor="let imageUrl of imagesUrls | async;let i = index;"
            data-target="#car-carousel"
            data-slide-to="i" [class.active]="i == 0">
    </ol>
    <div class="carousel-inner" role="listbox">
        <div *ngFor="let imageUrl of imagesUrls | async; let i = index;" class="item" [class.active]="i == 0">
            <img src="{{imageUrl}}" alt=""/>
        </div>
    </div>

    <a class="left carousel-control" href="#car-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#car-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>