<div class="thumbnail">
    <a [routerLink]="['/cars', car.id]">
        <span [innerHTML]="imgHTML"></span>
    </a>
    <div class="caption">
        <h4>{{ car.brand.name }} {{car.model.name}}
            <small>{{ car.modelYear }}</small>
        </h4>
        <hr/>
        <p>{{ car.mileage | number }} км, {{ car.fuel.name }} {{ car.engineCapacity/1000 | number: '1.1'}}, {{
            car.body.name }}</p>
        <p class="text-right"><strong>{{car.price | currency:'USD':true}}</strong></p>
    </div>
</div>