<div class="container car-card">
    <div class="page-header">
        <h1>{{car?.brand.name}} {{car?.model.name}}
            <small>{{car?.modelYear | date: 'yyyy'}}</small>
            <span class="text-right price">{{car?.price | currency:'USD':true:'1.0'}}</span>
        </h1>

    </div>

    <div class="container">
        <div class="col-lg-3">
            <p class="font-13">Дата размещения: {{car?.publishDate | date: 'd-MM-yyyy'}}</p>
            <dl class="dl-horizontal car-card">
                <dt class="car-card-dt">Год выпуска:</dt>
                <dd class="car-card-dd">{{car?.modelYear }}</dd>
                <dt class="car-card-dt">Пробег:</dt>
                <dd class="car-card-dd">{{car?.mileage}}</dd>
                <dt class="car-card-dt">Кузов:</dt>
                <dd class="car-card-dd">{{car?.body.name}}</dd>
                <dt class="car-card-dt">Двигатель:</dt>
                <dd class="car-card-dd">{{car?.engineCapacity/1000 | number}} л / {{car?.fuel.name}}</dd>
                <dt class="car-card-dt">Коробка:</dt>
                <dd class="car-card-dd">{{car?.transmission.name}}</dd>
                <dt class="car-card-dt">Привод:</dt>
                <dd class="car-card-dd">{{car?.wheelDrive.name}}</dd>
                <dt class="car-card-dt">Цена:</dt>
                <dd class="car-card-dd">{{car?.price}}</dd>

            </dl>
        </div>
        <div class="col-lg-9">
            <div class="center-block">
                <carousel [imagesUrls]="imagesUrls"></carousel>
            </div>
        </div>
    </div>
    <hr/>
    <div class="container">
        <div class="col-lg-10">
            <dl class="dl-horizontal">
                <dt class="car-desc-dt">Комментарий продавца:</dt>
                <dd class="car-desc-dd">{{car?.description}}</dd>
            </dl>
        </div>
        <div class="col-lg-2">
            <a class="btn btn-lg btn-primary pull-right" [routerLink]="['']">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                Назад
            </a>
        </div>
    </div>
    <hr/>
</div>