.car-card-dd {
    text-align: left;
    margin: auto;
    font-weight: bold;
}
.car-card-dt {
    width: 120px;
    font-weight: normal;
    margin: 0 5px 10px 0;
    clear: both;
    float: left;
    text-align: left;
    font-size: 15px;
    line-height: 18px;
    color: rgba(0,0,0,.5);
}
.car-card{margin-top: 40px;}
.car-card{
    background-color: #f3f3f3;
}
.page-header{
    margin-top: 20px !important;
}
.page-header>h1{
    padding-left: 30px;
}
.font-13{
    font-size: 13px;
    line-height: 18px;
}
.car-desc-dt{
    width: 200px;
}
.car-desc-dd{
    padding-left: 10px;
    margin-left: 200px;
    padding-right: 30px;
}

.price {
    float:right;
    padding-right: 20px;
}