.car-add-card{
      background-color: #f3f3f3;
}
.car-add-form{
      margin: 20px;
}

.car-add-bm {
      margin: 0 !important;
}

.car-add-ec-cm {
      margin-top:7px;
}

.сar-add-price {
      margin: 0 !important;
}
.ui-fileupload-content {
    background-color: #f3f3f3 !important;
    border: 0 !important;
}

.form-inline div {
    display: inline-block;
}

