<div class="container car-add-card">
    <div>
        <h1>Добавление объявления</h1>
    </div>
    <hr/>

    <form class="car-add-form form-horizontal" (submit)="onSubmit()" [formGroup]="formModel">
        <div class="form-group">
            <label class="control-label col-sm-2">Марка и модель:</label>
            <div class="col-sm-8 form-inline">
                <div class="form-group car-add-bm">
                    <div formGroupName="brand">
                        <select id="car-add-brand" class="form-control"
                                (change)="onBrandChange($event.target.value)"
                                formControlName="id" (blur)="onSelectBlur('brand')"
                        >
                            <option [value]=null disabled selected hidden>Выберите марку</option>
                            <option *ngFor="let b of brands | async" [value]="b.id">{{b.name}}</option>
                        </select>
                    </div>
                    <div formGroupName="model">
                        <select id="car-add-model" class="form-control" *ngIf="formModel.get('brand').get('id').value"
                                formControlName="id" (blur)="onSelectBlur('model')"
                        >
                            <option [value]=null disabled selected hidden>Выберите модель</option>
                            <option *ngFor="let m of models | async" [value]="m.id">{{m.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div *ngIf="formErrors.brand" class=" col-sm-10 col-sm-offset-2">
                <p class="alert alert-danger">
                    {{ formErrors.brand }}
                </p>
            </div>
            <div *ngIf="formErrors.model" class=" col-sm-10 col-sm-offset-2">
                <p class="alert alert-danger">
                    {{ formErrors.model }}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="car-add-modelyear" class="control-label col-sm-2">Год:</label>
            <div class="col-sm-1">
                <p-inputMask id="car-add-modelyear" formControlName="modelYear" mask="9999"
                             placeholder="2016"
                             maxlength="4" size="4" slotChar="">
                </p-inputMask>
            </div>
            <div *ngIf="formErrors.modelYear" class=" col-sm-10 col-sm-offset-2">
                <p class="alert alert-danger">
                    {{ formErrors.modelYear }}
                </p>
            </div>
        </div>

        <div class="form-group" formGroupName="body">
            <label for="car-add-body" class="col-sm-2 control-label">Тип кузова:</label>
            <div class="col-sm-3">
                <select id="car-add-body" formControlName="id" class="form-control"
                        (blur)="onSelectBlur('body')">
                    <option [value]=null disabled selected hidden>Выбрать тип кузова</option>
                    <option *ngFor="let b of bodyTypes | async" [value]="b.id">{{b.name}}</option>
                </select>
            </div>
            <div *ngIf="formErrors.body" class=" col-sm-10 col-sm-offset-2">
                <p class="alert alert-danger">
                    {{ formErrors.body }}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="car-add-mileage" class="col-sm-2 control-label">Пробег:</label>
            <div class="col-sm-3">
                <p-inputMask id="car-add-mileage" formControlName="mileage" mask="9?999999"
                             placeholder="300000" maxlength="7" size="6" slotChar=""></p-inputMask>
            </div>
            <div *ngIf="formErrors.mileage" class=" col-sm-10 col-sm-offset-2">
                <p class="alert alert-danger">
                    {{ formErrors.mileage }}
                </p>
            </div>
        </div>

        <div class="form-group" formGroupName="fuel">
            <label for="car-add-fuel" class="col-sm-2 control-label">Тип двигателя:</label>
            <div class="col-sm-3">
                <select id="car-add-fuel" formControlName="id" class="form-control"
                        (blur)="onSelectBlur('fuel')">
                    <option [value]=null disabled selected hidden>Выбрать тип двигателя</option>
                    <option *ngFor="let f of fuelTypes | async" [value]="f.id">{{f.name}}</option>
                </select>
            </div>
            <div *ngIf="formErrors.fuel" class=" col-sm-10 col-sm-offset-2">
                <p class="alert alert-danger">
                    {{ formErrors.fuel }}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="car-add-ec" class="col-sm-2 control-label">Объем:</label>
            <div class="col-sm-1">
                <p-inputMask id="car-add-ec" formControlName="engineCapacity" mask="999?9"
                             placeholder="1800" maxlength="4" size="4" slotChar=""></p-inputMask>

            </div>
            <p class="text-left car-add-ec-cm">cm<sup>
                <small>3</small>
            </sup></p>
            <div *ngIf="formErrors.engineCapacity" class=" col-sm-10 col-sm-offset-2">
                <p class="alert alert-danger">
                    {{ formErrors.engineCapacity }}
                </p>
            </div>
        </div>

        <div class="form-group" formGroupName="transmission">
            <label for="car-add-transmission" class="col-sm-2 control-label">Коробка передач:</label>
            <div class="col-sm-10">
                <p-selectButton id="car-add-transmission" formControlName="id"
                                [options]="transmissionsTypes"></p-selectButton>

            </div>
            <div *ngIf="formErrors.transmission" class=" col-sm-10 col-sm-offset-2">
                <p class="alert alert-danger">
                    {{ formErrors.transmission }}
                </p>
            </div>
        </div>

        <div class="form-group" formGroupName="wheelDrive">
            <label for="car-add-wheeldrive" class="col-sm-2 control-label">Привод:</label>
            <div class="col-sm-10">
                <p-selectButton id="car-add-wheeldrive" formControlName="id"
                                [options]="wheelDriveTypes"></p-selectButton>

            </div>
            <div *ngIf="formErrors.wheelDrive" class=" col-sm-10 col-sm-offset-2">
                <p class="alert alert-danger">
                    {{ formErrors.wheelDrive }}
                </p>
            </div>
        </div>

        <div class="form-group" >
            <label for="car-add-price" class="col-sm-2 control-label">Цена:</label>
            <div class="col-sm-1">
                <p-inputMask id="car-add-price" class="сar-add-price" formControlName="price" mask="9?999999"
                             placeholder="2000" maxlength="7" size="6" slotChar=""></p-inputMask>
            </div>
            <p class="car-add-ec-cm">$</p>
            <div *ngIf="formErrors.price" class=" col-sm-10 col-sm-offset-2">
                <p class="alert alert-danger">
                    {{ formErrors.price }}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="car-add-image-upload" class="col-sm-2 control-label">Загрузите фото:</label>
            <div class="col-sm-10 custom-fileupload">
                <p-fileUpload name="file[]" url="http://localhost:8080/api/CarImageUpload" id="car-add-image-upload"
                              multiple="multiple"
                              accept="image/*"
                              maxFileSize="10000000"
                              auto="auto"
                              (onBeforeUpload)="onBeforeUpload($event)"
                              (onUpload)="onUpload($event)"
                              (onError)="onUploadError($event)"
                              chooseLabel="Выбрать файл"
                              uploadLabel="Загрузить"
                              cancelLabel="Отменаы"
                >
                    <template pTemplate type="content">
                        <div class="form-horizontal">
                            <div class="form-group" *ngFor="let imageUUID of imagesUUIDS">
                                <label>
                                    <img src="{{getImageUrl(imageUUID)}}" width="200">
                                </label>
                                <input type="button" value="Удалить" class="btn btn-danger"
                                       (click)="deleteImage(imageUUID)"/>
                            </div>
                        </div>
                    </template>
                </p-fileUpload>
            </div>
            <div *ngIf="formErrors.imageStorageUUID" class=" col-sm-10 col-sm-offset-2">
                <p class="alert alert-danger">
                    {{ formErrors.imageStorageUUID }}
                </p>
            </div>
        </div>

        <span (mouseenter)="onSubmitMouseEnter()">
            <input type="submit" class="btn btn-lg btn-primary" value="Добавить" [disabled]="!formModel.valid">
        </span>
    </form>
</div>